{% extends 'basic.html' %}
{% block title %}WeARit | About Us {% endblock %}
{% block body %}
<img src="/static/about.jpg" class="img-fluid" alt="..." style="height: 350px;width: 1600px;">
<div class="container">
  <h3 class="text-center display-4 mt-2">About Us</h3>
  <P class="text-center display-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptate libero ex
    officiis, tempora, doloribus maxime dolore perferendis numquam voluptas, accusantium sed eum quos? Non dolore
    aliquam mollitia ullam cumque?</P>
  <P class="text-center display-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptate libero ex
    officiis, tempora, doloribus maxime dolore perferendis numquam voluptas, accusantium sed eum quos? Non dolore
    aliquam mollitia ullam cumque?</P>
  <h3 class="text-center display-4 mt-5">Team Members</h3>
  <div class="row g-2 ms-4 my-4">
    <div class="col-xl-4 col-xs-10">
      <div class="card" style="width: 21rem;">
        <img src="/static/ashish7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-3 text-center" style="margin-left: 10px;">Ashish Khedekar</h5>
          <p class="card-text fs-5 text-center" style="margin-left: 10px;">Web Developer</p>
          <p class="card-text fs-6 text-center" style="margin-left: 10px;">ashishkhedekar13@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-10">
      <div class="card" style="width: 21rem;">
        <img src="/static/ashish7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-3 text-center" style="margin-left: 10px;">Piyush Khandetod</h5>
          <p class="card-text fs-5 text-center" style="margin-left: 10px;">UI/UX Developer</p>
          <p class="card-text fs-6 text-center" style="margin-left: 10px;">ashishkhedekar13@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-10">
      <div class="card" style="width: 21rem;">
        <img src="/static/ashish7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-3 text-center" style="margin-left: 10px;">Mohammed Moheed</h5>
          <p class="card-text fs-5 text-center" style="margin-left: 10px;">AR Developer</p>
          <p class="card-text fs-6 text-center" style="margin-left: 10px;">ashishkhedekar13@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}