{% extends 'basic1.html' %}
{% block title %}WeARit | Home{% endblock %}
{% block css %}
<style>
  .card img {
    height: 277px;
    width: 100%;
  }

  .card {
    width: 310px !important
  }

  @media only screen and (max-width: 600px) {
    .title {
      margin-left: 10px;
    }
    .navbar-brand{
      font-size: x-large;
      font-weight: bold;
    }
    .navbar-nav{
      margin: 0px;
      padding-left: 0px!important;
    }
    .home{
      display: none;
    }
    .nav-link{
      font-size: large;
      font-weight: 500;
    }
    .card{
      margin: auto;
      margin-bottom: 10px;
    }
    .navbar-toggler{
      margin-right: 5px;
      padding: 8px;
    }
    .collapse.navbar-collapse{
      margin: 0 0 0 0;
    }
    .search{
      width: auto;
      height: auto;
      margin-bottom: 6px;
    }
    .signup.btn{
      display: inline;
      margin-left: 0px!important;
    }
    .login{
      margin-top: 5px;
      margin-left: 28px;
      display: inline-block;
    }
    .modal-content{
      margin-top: 230px;
    }
    .signup.modal-content{
      margin-top: 70px;
    }
  }

</style>
{% endblock %}

{% block body %}
{% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show mb-0" role="alert">
    <strong>Message :</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1600x600/?tshirt,tshirt" class="img d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x600/?tshirt,tshirt" class="img d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x600/?pant,design" class="img d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- category wise products -->

<div class="container-fluid mr-1 me-1 my-3">
  {% for product, cats in allProds %}
  <h5 class="title my-4">Flash Sale On {{product.0.category}} - Recommended Items</h5>
  <div class="row">
    {% for i in product %}
    <div class="col-xs-3 col-sm-1 col-md-3">
      <div class="card" style="width: 18rem;">
        <a href="/ecom/productview1/{{i.id}}/{{i.category}}"><img src="/media/{{i.image}}" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title" id="namepr{{i.id}}" style="margin-left: 10px;">{{i.product_name}}</h5>
          <p class="card-text" style="margin-left: 10px;">Price: <i class="fas fa-rupee-sign"></i> {{i.price}}</p>
          <a href="#"><button id="pr{{i.id}}" class="btn btn-primary d-inline" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="margin-left: 10px;margin-right: 10px;padding-left: 80px;padding-right:92px;">Add to Cart</button></a>
        </div>
      </div>
    </div>
    <!-- if last column in row -->
    {% if forloop.counter|divisibleby:"4" and not forloop.last %}
  </div><br>
  <div class="row">
    {% endif %}

    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}

